$color-primario: gold;
$color-texto-primario: rgb(241, 233, 233);
$color-texto-secundario: rgb(28, 26, 26);
$color-secundario: rgb(26, 26, 200);
$color-footer: grey;
$display-center: (
  display: flex,
  justify-content: center,
  align-items: center,
  flex-direction: column
);

@mixin apply-styles($styles) {
  @each $prop, $value in $styles {
    #{$prop}: $value;
  }
}


